//========================================================================// 
	                                                                   //
		// _600.scss                		                        //     600
	                                                                 //
//====================================================================//


// ripped paper top
.ftw:before {
	@include afterImg(100%, 52px, "sprite.png", no-repeat, 0px -61px);
	max-width: 1200px;
	top: -15px;
}

// ripped paper bottom
.ftw:after {
	@include afterImg(100%, 52px, "sprite.png", no-repeat, 0px -112px);
	max-width: 1200px;
	bottom: -15px;
}


.priceCol1 {
	@include sizeEl(block, left, 50%, auto);
}

.priceCol2 {
	@include sizeEl(block, left, 50%, auto);
}

// about

// About

.teacher {
		@include sizeEl(block, left, 50%, auto);
		padding: 2.5%;

}


.teacherTextWrap {
		@include sizeEl(block, left, 100%, auto);
}

// .teachRightPad {
// 	float: right;
// }
