//========================================================================// 
	                                                                     //
		// _768.scss                		                            //     768
	                                                                   //
//====================================================================//

// //-------------------------------------------------| Global Header *
// .gHeader {
// 	height: 200px;
// }


.ftw {
	@include sizeEl(block, left, 100%, auto);
	max-height: 325px;
	padding: 0;
}

// this is the ipad right
.rightPad {
	float: right !important;
}

//==================================================================
//	Global Elements
//==================================================================

// header social links
// header facebook
.gFacebook {
	display: block;
	left: 5%;
	text-align: left;
}

// header instagram
.gInstagram {
	display: block;
	right: 5%;
	text-align: right;
}

// chinese back ground
.gContent:before, .gContent:after {
	@include afterImg(368px, 1068px, "bodyBgSprite.jpg", no-repeat, 0px 0px);
	position: absolute;
	top: 465px;
	z-index: -2;

	background-color: $b;
}

.gContent:before {left: -135px;}

.gContent:after {
	@include afterImg(368px, 1068px, "bodyBgSprite.jpg", no-repeat, -398px 0px);
	right: -135px; 
}

//==================================================================
//	Classes Page
//==================================================================

.classPrice {
	@include sizeEl(block, left, 50%, 330px);
}


.classesTextWrap {
	@include sizeEl(block, left, 50%, auto);
	border-left: solid 1px $classBorder;
	border-right: solid 1px $classBorder;
	padding: 2.5%;
}

.specailClasses {

}

.specailClasses {
	@include sizeEl(block, left, 100%, auto);
	padding: 2.5%;

}

.scWrapHalf {
	@include sizeEl(block, left, 50%, auto);
	padding: 0;
	margin: 0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.specialInner {
	@include sizeEl(block, left, 100%, auto);
	background-color: $white;
	padding: 2.5%;
	-webkit-box-shadow: 0 0 9px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 9px rgba(0,0,0,.15);
	box-shadow: 0 0 9px rgba(0,0,0,.15);
}


//==================================================================
//	Blog Index
//==================================================================

// blog nav
.bNav {
	@include sizeEl(block, left, 32%, auto);
}


.featuredBlog {
	@include sizeEl(block, right, 66%, auto);
}

.blogPost {
	@include sizeEl(block, left, 48%, auto);
}

.blogHero {
	height: auto;
}

// blog hero
.blogHero div {
	@include sizeEl(block, none, 100%, 335px);

	max-width: 1140px;
	margin: 20px auto 0 auto;
}

//==================================================================
//	single post page
//==================================================================

.singlePostWrap {
	@include sizeEl(block, right, 66%, auto);
}

// single post comments
.commentsWrap img {
	display: block;
}

.singleComment {
	@include sizeEl(block, right, 72%, auto);
}










// contact page



.contactWrap {
	padding: 2.5%;
}

.contactInner {
	@include sizeEl(block, left, 100%, auto);
	padding: 0;
	background-color: $white;

	-webkit-box-shadow: 0 0 9px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 9px rgba(0,0,0,.15);
	box-shadow: 0 0 9px rgba(0,0,0,.15);
}

.formNameWrap {
	@include sizeEl(block, left, 46%, auto);
}

.nameRight {float: right;}

// .formNameWrap label {
// 	@include sizeEl(block, left, 47%, auto);
// }

// .firstName {
// 	@include sizeEl(block, left, 100%, 35px);
// }

// .lastName {
// 	@include sizeEl(block, left, 100%, 35px);
// }

.contactHalf {
	@include sizeEl(block, left, 50%, auto);
	background-color: none;
	padding: 2.5%;
	margin: 0 0 2.5% 0;

	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}




.mapContactInfo {
	@include sizeEl(block, none, 368px, 157px);
	background-color: transparent !important;
	// position: absolute;
	// z-index: 10;
	top: 95px;
	right: 0px;
	@include spritePos("sprite.png", -1198px 0px);

	font-family: 'formal_436regular';
	font-weight: normal;
	font-style: normal;


	text-align: center;
}

.mapPhone {
	position: absolute;
	top: 10px;
	left: 70px;
	text-align: left;
}

.mapSocial, .mapAdress {
	display: block;
	position: absolute;
}

.mapAdress {
	top: 53px;
	left: 84px;
}

.mapSocial {
	top: 108px;
	left: 84px;	
}



// About

.teacherWrap {
	@include sizeEl(block, left, 100%, auto);
	padding: 2.5%;
	position: relative;
}

.teacherInner {
	@include sizeEl(block, left, 100%, auto);
	// Delete this
	background-color: #11528a;

	-webkit-box-shadow: 0 0 9px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 9px rgba(0,0,0,.15);
	box-shadow: 0 0 9px rgba(0,0,0,.15);
}

.teacherInner h1, .teacherInner span {
	color: $white;
}

.teacher {
		@include sizeEl(block, left, 100%, auto);
		padding: 2.5%;

}

.techerTitleWrap {
	@include sizeEl(block, left, 100%, auto);
}

.techerTitleWrap h1 {
	@include sizeEl(block, left, 100%, auto);
	text-align: center;
	font-size: 38px;
	padding: 15px 0 15px 0;
}

.teacherNav {
	@include sizeEl(block, left, 100%, auto);
}

.teacherNav ul {
	@include sizeEl(block, none, 95%, 42px);
	margin: 0 auto;
	background-color: $white;
}

.teacherNav li {
	@include sizeEl(block, left, 25%, auto);
	text-align: center;
	padding: 10px 0;
}

.teacherNav a {
	font-family: 'formal_436regular';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	letter-spacing: 1px;
	color: $bPurple;
}


.teacherTextWrap {
		@include sizeEl(block, right, 65%, auto);

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-color: transparent;
}

.teacherTextWrap h2, .teacherTextWrap p {
	color: $white;
}

.mobileTeccherImg {
	display: none !important;
}

.notActive {
	display: none;
}






















// // About

// .teacherTextWrap {
// 		@include sizeEl(block, left, 50%, auto);

// 		background-color: $white;

// 		-webkit-box-shadow: 0 0 9px rgba(0,0,0,.15);
// 		-moz-box-shadow: 0 0 9px rgba(0,0,0,.15);
// 		box-shadow: 0 0 9px rgba(0,0,0,.15);
// }

// .teacherTextWrap .mobileTeccherImg {
// 	@include sizeEl(block, left, 100%, auto);
// }

// .ttwInner {
// 	@include sizeEl(block, left, 100%, auto);

// 	padding: 5%;
// }














