//========================================================================// 
	                                                                     //
		// _768.scss                		                            //     768
	                                                                   //
//====================================================================//

// //-------------------------------------------------| Global Header *
// .gHeader {
// 	height: 200px;
// }


//==================================================================
//	Global Elements
//==================================================================

// header social links
// header facebook
.gFacebook {
	display: block;
	left: 5%;
	text-align: left;
}

// header instagram
.gInstagram {
	display: block;
	right: 5%;
	text-align: right;
}
