//========================================================================// 
                                                                         //
    // _buttons.scss                                                    //     BUTTONS
                                                                       //
//====================================================================//






/*
  -------------------------------------------------- 
  * Btn Mixins
  -------------------------------------------------- 

  1  | Font Mixin
  
  2  | Simple Animation Mixin

  3  | Border Radius mixin

  4  | IE7 inline-block hack
*/





// main buttons
.btn {
  @include simpleTransAni(background-color, 0.2s, linear); //----- 2
  @include border-radius(6px, 6px, 6px, 6px); //----- 3

  @include backgroundImg('btnBg.jpg', repeat-x, center);

  display: inline-block;
  height: 36px;

  *display:inline; //----- 4
  *zoom:1;         //----- 4

  padding: 5px 10px;
  margin-bottom: 0;

  font: {family:$basefont;}
  text-align: center;
  vertical-align: middle;
  color: $btnText;
  text-decoration: none;
  font-size:13px;


  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px rgba(0,0,0,.15);
  box-shadow: 0 1px rgba(0,0,0,.15);
  border: solid 1px #edecec;

  cursor: pointer;

}

// puple btn
.btn.btnPurp {
  @include backgroundImg('btnBgPurp.png', repeat-x, top);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px rgba(0,0,0,.15);
  box-shadow: 0 1px rgba(0,0,0,.15);
  border: solid 1px #7b3a84;

  color: $white;
}


.btn.btnPurp i {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  padding: 0 10px 0 0;
  font-size: 12px;
}

// disable underline on hover
.btn:hover {
  text-decoration: none;
}







//================|   Global Button  |================//

.g-cta {
  background-color: $mainBtnBgColor;
  color: $buttoncolor;

  &:visited, &:hover {
    color: $buttoncolor;
    text-decoration: none;
    background-color:$mainBtnHover;
  }


  &:active {
    background: $mainBtnClick;
    @include simpleTransAni(background-color, 0, linear);
  }

}
